/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.hide {
	display: none;
}

.visit {
	visibility: visible;
}

.invisit {
	visibility: hidden;
}

.opacity0 {
	opacity: 0;
}

.opacity1 {
	opacity: 1;
}

.absoluteCenter {
	top: 50%;
	left: 50%;
	cursor: pointer;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.wrapper,
.wrapper * {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	color: white;
	display: block;
	position: relative;
	aspect-ratio: 16 / 9;
	background-color: black;
}

.video {
	width: 100%;
	height: 100%;
	display: block;
}

.controller {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.title {
	width: 100%;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.1rem;
	padding: 1rem 0 0 1rem;
}

.center {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	div {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

.controls {
	gap: 0.6em;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0.8em 1em;
}

.controls button {
	border: 0;
	padding: 0.25em;
	color: white;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transition: background-color 200ms;
	-o-transition: background-color 200ms;
	transition: background-color 200ms;
	background-color: #fff0;
}

.controls button:hover {
	border-radius: 5px;
	background-color: #00b2ff;
}

.timeWrapper {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	gap: 0.6em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 1rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-inline: 0.3em;
	font-family: monospace;
	article {
		font-size: 1em;
	}
}

.timeControl {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}

.backProcess {
	width: 100%;
	height: 4px;
	border-radius: 2em;
	background-color: #fff5;
}

.progressBar {
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	position: absolute;
	border-radius: 2em;
	background-color: #fffa;
}

.rangeTime {
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
	border-radius: 2em;
	background-color: transparent;
}

.rangeTime::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1em;
	height: 1em;
	border-radius: 2em;
	background-color: #fff;
}

.rangeTime:hover {
	cursor: pointer;
}

.rangeTime::-webkit-slider-thumb:hover {
	-webkit-box-shadow: #fff4 0 0 1px 3px;
	box-shadow: #fff4 0 0 1px 3px;
}

.volumeWrapper {
	gap: 0.1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.rangeVolume {
	width: 4em;
	height: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 2em;
	cursor: pointer;
	background-color: transparent;
}

.rangeVolume::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1em;
	height: 1em;
	border-radius: 2em;
	background-color: #fff;
}

.rangeVolume::-webkit-slider-thumb:hover {
	-webkit-box-shadow: #fff4 0 0 1px 3px;
	box-shadow: #fff4 0 0 1px 3px;
}

.seekLeft,
.seekRight {
	top: 50%;
	font-size: 1.6rem;
	position: absolute;
	text-shadow: 0 0 2px #0004;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.seekLeft {
	left: 20%;
	-webkit-animation: shaking 200ms;
	animation: shaking 200ms;
}

.seekRight {
	right: 20%;
	-webkit-animation: shaking 200ms;
	animation: shaking 200ms;
}

@-webkit-keyframes shaking {
	0% {
		-webkit-transform: translateY(-50%) scale(1);
		transform: translateY(-50%) scale(1);
	}
	50% {
		-webkit-transform: translateY(-50%) scale(2);
		transform: translateY(-50%) scale(2);
	}
	100% {
		-webkit-transform: translateY(-50%) scale(1);
		transform: translateY(-50%) scale(1);
	}
}

@keyframes shaking {
	0% {
		-webkit-transform: translateY(-50%) scale(1);
		transform: translateY(-50%) scale(1);
	}
	50% {
		-webkit-transform: translateY(-50%) scale(2);
		transform: translateY(-50%) scale(2);
	}
	100% {
		-webkit-transform: translateY(-50%) scale(1);
		transform: translateY(-50%) scale(1);
	}
}

@media (max-width: 640px) {
	.hideOnMobile {
		display: none;
	}
}

@media (min-width: 640px) {
	.rangeVolume {
		width: 6em;
	}
	.seekLeft,
	.seekRight {
		font-size: 3rem;
	}
}

.loadingContainer {
	top: 50%;
	left: 50%;
	width: 12%;
	display: block;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	svg {
		width: 100%;
		color: white;
		display: block;
	}
}

.playFirstContainer {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: black;
	button {
		border: 0;
		margin: 0;
		padding: 0.6em;
		cursor: pointer;
		background-color: transparent;
		svg {
			color: white;
		}
	}
}
