name: Publish package
permissions:
  id-token: write
on:
  release:
    types: [published]
defaults:
  run:
    shell: bash
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: latest
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install Deps
        run: bun install
      - name: Lint code
        run: bun lint
      - name: Build component
        run: bun export
      - name: Publish package
        run: npm publish --provenance --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
