name: NPM_PUBLISH
permissions:
  id-token: write
on:
  release:
    types: [published]
defaults:
  run:
    shell: bash
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: https://registry.npmjs.org/
      - name: Install Deps
        run: npm install
      - name: Build component
        run: npm run export
      - name: Publish package
        run: npm publish --provenance --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
